<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="x-icon" href="../../static/../static/images/favicon.ico" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../static/css/index_style.css" />
        <title>SamIT</title>
  </head>

  <body>
    <div class = "web-container">
      <div class = "left-cont">
        <div class = "logo">
          <a href = "{{ url_for('samling') }}"><img src = "../static/image/logosamit.svg" ></a>
        </div>
        <div class = "list-menu-container">
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_dashboard.svg">
            </div>
            <div class = "menu-text">
              <h3 class = "text-selected">Dashboard</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_car.svg">
            </div>
            <div class = "menu-text">
              <h3>Samsat</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_pajak.svg">
            </div>
            <div class = "menu-text">
              <h3>Info Pajak</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_panduan.svg">
            </div>
            <div class = "menu-text">
              <h3>Panduan</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_pembayaran.svg">
            </div>
            <div class = "menu-text">
              <h3>Pembayaran</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_cc.svg">
            </div>
            <div class = "menu-text">
              <h3>Customer Care</h3>
            </div>
          </div>
          <div class = "menu">
            <div class = "icon">
              <img src = "../static/image/icons/ic_settings.svg">
            </div>
            <div class = "menu-text">
              <h3>Settings</h3>
            </div>
          </div>
        </div>
        <div class="info">
          <div class="info-logo">
            <img src="../static/image/icons/ic_green_shield.svg" alt=""> 
          </div>
          <p class="info-text text-bold">Awasi pajak kendaraanmu!</p>
          <p class="info-text">Bayar pajak tidak perlu ribet ! Cukup klik dan beres</p>
          <p class="info-text text-bold">BAPENDA Jabar</p>
        </div>
      </div>
      <div class = "mid-cont">
          <div class = "mid-header">
            <div class="hello-anda">
              <h1>Hello, Aulia!</h1>
              <p>Jalan Ganesha No.10, Bandung</p>
            </div>
            <div class = "pencarian">
              <img src="..\../static/image\icons\search.svg" alt="">
              <input type="text" placeholder="search">
            </div>
          </div>
          <div class = "info-kendaraan">
            <div class = "kendaraan">
              <div class = "gambar-kendaraan">
                <img src="..\../static/image\icons\motorcycle 1.svg" alt="">
              </div>
              <div class="detail1">
                <p>Plat Nomor       : D 1893 ray</p>
                <p>Jenis Kendaraan  : Motor Sport</p>
                <p>Warna Kendaraan  : Merah Hitam</p>
                <p>Nomor Rangka     : 1HGBH41JXMNxxxxx</p>
              </div>
              <div class="detail2">
                <p>Nomor Mesin      : JF21E</p>
                <p>Jumlah Biaya     : Rp 358.000</p>
                <p>Diskon Pajak     : Rp 35.800</p>
              </div>
            </div>
            <div class = "jumlah-kendaraan">
              <img src="..\../static/image\icons\titik4.svg" alt="">
            </div>
          </div>
          <div class = "informasi-dashboard">
            <div class="terdekat">
              <div class="judul-terdekat">
                <p>Samsat Terdekat</p>
              </div>
              <div class="gambar-terdekat">
                <img src="..\../static/image\icons\maps.svg" alt="">
              </div>
              <div class="selengkapnya-terdekat">
                <p>Selengkapnya</p>
              </div>
            </div>
            <div class="berita">
              <div class="judul-berita">
                <p>Berita Harian Terkini</p>
              </div>
              <div class="gambar-berita">
                <img src="..\../static/image\icons\berita.svg" alt="">
              </div>
              <div class="isi-berita">
                <p>Bapenda Jabar Galang Donasi Untuk Gempa Cianjur</p>
              </div>
              <div class="selengkapnya-berita">
                <p>Selengkapnya</p>
              </div>
            </div>
            <div class="riwayat">
              <div class="judul-riwayat">
                <p>Riwayat Pembayaran</p>
              </div>
              <div class="gambar-riwayat">
                <img src="..\../static/image\icons\motorcycle 1.svg" alt="">
              </div>
              <div class="isi-riwayat">
                <p>Pajak Motor</p>
              </div>
              <div class="selengkapnya-riwayat">
                <p>Selengkapnya</p>
              </div>
            </div>
          </div>
          <div class = "banner-iklan">
            <img src="..\../static/image\icons\iklan.svg" alt="">
          </div>
      </div>

      <div class = "right-cont">
        <div class="profile-container">
          <img src="../static/../static/image/icons/ic_notification.svg">
          Aulia Fajri
          <img src="../static/../static/image/foto/profile.svg" style="padding: 2px;">   
        </div>
        
        <div class="jatuh-tempo-container">
          jatuh
        </div>
        <div class="layanan-container">

        </div>
      </div>

    </div>
  </body>

</html>